/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-63da3865-c6ncywpd version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-63da3865-qx4pebqj .style-63da3865-c6ncywpd.master.item-box   {
		
						position: relative;
						
						background-color: rgb(255, 255, 255);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-c6ncywpd .preview-item-links span:hover  ,  .style-63da3865-qx4pebqj .style-63da3865-c6ncywpd .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(147, 147, 147, 0);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-c6ncywpd.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-c6ncywpd .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-c6ncywpd  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						border-color: rgb(214, 214, 214);
						
						max-width: 2000px;
						
						padding-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 5px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: left;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-c6ncywpd .preview-item-links span  ,  .style-63da3865-qx4pebqj .style-63da3865-c6ncywpd #sr-basket-widget *  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 10rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(246, 246, 246);
						
						letter-spacing: 0em;
						
						max-width: 1150px;
						
						padding-right: 5px;
						
						padding-left: 5px;
						
						padding-top: 10px;
						
						line-height: 1.4em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-c6ncywpd .preview-title  ,  .style-63da3865-qx4pebqj .style-63da3865-c6ncywpd .preview-body h1  { font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0em;
						
						margin-top: 0px;
						
						font-family: 'Playfair Display';
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-c6ncywpd .preview-item-links.allow-bg-color  ,  .style-63da3865-qx4pebqj .style-63da3865-c6ncywpd .submenu  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-c6ncywpd .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-c6ncywpd .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-c6ncywpd .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-c6ncywpd .stripe-background  {
		
						margin-left: -6%;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-c6ncywpd .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						
						margin-right: 10px;
						
						margin-top: 10px;
						
						margin-left: 10px;
						
						margin-bottom: 10px;
						
						width: 60px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-c6ncywpd  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-c6ncywpd .middle_layout .helper-div  ,  .style-63da3865-qx4pebqj .style-63da3865-c6ncywpd .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-c6ncywpd .preview-subtitle  ,  .style-63da3865-qx4pebqj .style-63da3865-c6ncywpd .preview-body h2  { font-size:calc( 10px + ( 9rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(48, 48, 48);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						font-family: Montserrat;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-63da3865-ceanqcx9 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 350px;
						
						padding-right: 0px;
						
						margin-top: 30px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 30px;
						
						background-color: rgba(0, 0, 0, 0);
						
						border-color: rgb(197, 197, 197);
						
						padding-left: 0px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .item-content:not(.blocks_layout)  {
		
						background-color: rgb(149, 183, 223);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .inner-pic  {
		
						color: rgb(255, 255, 255);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9.master.item-box   {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .preview-title  ,  .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .preview-body h1  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 50rem - 10rem ) );
						color: rgb(255, 202, 0);
						
						letter-spacing: 0.05em;
						
						font-weight: bold;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .draggable-pic-wrapper  {
			
		}
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .draggable-pic  {
			
		}
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .preview-item-links span  ,  .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 #sr-basket-widget *  { 
						border-style: dashed;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						padding-right: 20px;
						
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgba(0, 0, 0, 0);
						
						letter-spacing: 0em;
						
						font-weight: bold;
						
						margin-top: 15px;
						
						padding-left: 20px;
						
						border-radius: 20px;
						
						padding-top: 10px;
						
						font-family: 'Times New Roman';
						
						background-color: rgb(255, 255, 255);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .preview-element.icon-source  {
		
						margin-bottom: 15px;
						
						width: 690px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .draggable-pic  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .preview-body-holder  {
		
						max-width: 500px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .preview-item-links span:hover  ,  .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgb(255, 202, 0);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .preview-item-links span:before  ,  .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .effect-tester  { 
						background-color: rgb(255, 202, 0);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .draggable-pic-wrapper  {
			
		}
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .draggable-pic-wrapper  {
			
		}
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0em;
						
						max-width: 600px;
						
						font-family: Arial;
							
		}
	
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .middle_layout .helper-div  ,  .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .preview-subtitle  ,  .style-63da3865-qx4pebqj .style-63da3865-ceanqcx9 .preview-body h2  { 
						line-height: 1.0em;
						font-size:calc( 10px + ( 50rem - 10rem ) );
						font-weight: bold;
						
						color: rgb(255, 202, 0);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 15px;
						
						font-family: HelveNueThinNormal;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-63da3865-ceanqcx9 #vbid-63da3865-azpuyxht .preview-content-holder{
				
							text-align : left;
					
				}

 .style-63da3865-ceanqcx9 #vbid-63da3865-xwmbar8d.inner-pic{
				
							background-position : 52.5765% 16.3417%;
					
				} .style-63da3865-ceanqcx9 #vbid-63da3865-xixcepwb.inner-pic{
				
							background-position : 52.5765% 16.3417%;
					
				} .style-63da3865-ceanqcx9 #vbid-63da3865-b0rdarin.inner-pic{
				
							background-position : 52.5765% 16.3417%;
					
				} .style-63da3865-ceanqcx9 #vbid-63da3865-rjbd4cx6.inner-pic{
				
							background-position : 52.5765% 16.3417%;
					
				} .style-63da3865-ceanqcx9 #vbid-63da3865-8bxuyrdt.inner-pic{
				
							background-position : 52.5765% 16.3417%;
					
				}




.desktop-mode .style-63da3865-ceanqcx9 #vbid-63da3865-jbazr3br-wrapper.draggable-pic-wrapper{
				
							top : -177px;
					
							left : 463px;
					
							height : 876px;
					
							width : 437px;
					
				}.desktop-mode .style-63da3865-ceanqcx9 #vbid-63da3865-xqriwehs-wrapper.draggable-pic-wrapper{
				
							top : 311px;
					
							left : -6px;
					
							height : 73px;
					
							width : 194px;
					
				}.desktop-mode .style-63da3865-ceanqcx9 #vbid-63da3865-u9ebqlpb-wrapper.draggable-pic-wrapper{
				
							top : 48px;
					
							left : 230px;
					
							height : 502px;
					
							width : 294px;
					
				}.desktop-mode .style-63da3865-ceanqcx9 #vbid-63da3865-frqjgmvp-wrapper.draggable-pic-wrapper{
				
							top : 337px;
					
							left : -2px;
					
							height : 47px;
					
							width : 143px;
					
				}.desktop-mode .style-63da3865-ceanqcx9 #vbid-63da3865-bpdacjl4-wrapper.draggable-pic-wrapper{
				
							top : 331px;
					
							left : 148px;
					
							height : 58px;
					
							width : 154px;
					
				}.desktop-mode .style-63da3865-ceanqcx9 #vbid-63da3865-awzxkxyf-wrapper.draggable-pic-wrapper{
				
							top : -118px;
					
							left : -403px;
					
							height : 681px;
					
							width : 1022px;
					
				}
 .style-63da3865-ceanqcx9 #vbid-63da3865-u9ebqlpb.draggable-pic{
				
							background-position : top left;
					
							background-size : contain;
					
				} .style-63da3865-ceanqcx9 #vbid-63da3865-jbazr3br.draggable-pic{
				
							background-position : top left;
					
							background-size : contain;
					
				} .style-63da3865-ceanqcx9 #vbid-63da3865-awzxkxyf.draggable-pic{
				
							-webkit-filter: brightness(0.8);
						
					
							background-position : top left;
					
							background-size : contain;
					
				} .style-63da3865-ceanqcx9 #vbid-63da3865-xqriwehs.draggable-pic{
				
							background-position : top left;
					
							background-size : contain;
					
				} .style-63da3865-ceanqcx9 #vbid-63da3865-frqjgmvp.draggable-pic{
				
							background-position : top left;
					
							background-size : contain;
					
				} .style-63da3865-ceanqcx9 #vbid-63da3865-bpdacjl4.draggable-pic{
				
							background-position : top left;
					
							background-size : contain;
					
				}






 .style-63da3865-ceanqcx9 #vbid-63da3865-azpuyxht .preview-content-wrapper{
				
							text-align : right;
					
				}



.desktop-mode.tablet-mode .style-63da3865-ceanqcx9 #vbid-63da3865-frqjgmvp-wrapper.draggable-pic-wrapper{
				
							top : 334px;
					
							left : 3px;
					
				}.desktop-mode.tablet-mode .style-63da3865-ceanqcx9 #vbid-63da3865-jbazr3br-wrapper.draggable-pic-wrapper{
				
							top : -173px;
					
							left : 319px;
					
				}.desktop-mode.tablet-mode .style-63da3865-ceanqcx9 #vbid-63da3865-awzxkxyf-wrapper.draggable-pic-wrapper{
				
							top : -105px;
					
							left : 269px;
					
				}.desktop-mode.tablet-mode .style-63da3865-ceanqcx9 #vbid-63da3865-bpdacjl4-wrapper.draggable-pic-wrapper{
				
							top : 389px;
					
							left : -1px;
					
				}
.desktop-mode.tablet-mode.phone-mode .style-63da3865-ceanqcx9 #vbid-63da3865-frqjgmvp-wrapper.draggable-pic-wrapper{
				
							top : 334px;
					
							left : 62px;
					
				}.desktop-mode.tablet-mode.phone-mode .style-63da3865-ceanqcx9 #vbid-63da3865-bpdacjl4-wrapper.draggable-pic-wrapper{
				
							top : 388px;
					
							left : 57px;
					
				}







/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-63da3865-6r99zngi version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 1200px;
						
						padding-right: 0px;
						
						margin-top: 30px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 30px;
						
						background-color: rgba(0, 0, 0, 0);
						
						border-color: rgb(197, 197, 197);
						
						padding-left: 0px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .item-content:not(.blocks_layout)  {
		
						background-color: rgb(149, 183, 223);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .inner-pic  {
		
						color: rgb(255, 255, 255);
						
		    			-webkit-filter: brightness(0.8);	
		}
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi.master.item-box   {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .preview-title  ,  .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 71rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						font-weight: bold;
						
						margin-bottom: 10px;
						
						line-height: 1.2em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .draggable-pic-wrapper  {
			
		}
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .draggable-pic  {
			
		}
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .preview-item-links span  ,  .style-63da3865-qx4pebqj .style-63da3865-6r99zngi #sr-basket-widget *  { 
						border-style: dashed;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						padding-right: 20px;
						
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgba(0, 0, 0, 0);
						
						letter-spacing: 0em;
						
						font-weight: bold;
						
						margin-top: 15px;
						
						padding-left: 20px;
						
						border-radius: 20px;
						
						padding-top: 10px;
						
						font-family: 'Times New Roman';
						
						background-color: rgb(255, 255, 255);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .preview-element.icon-source  {
		
						width: 690px;
						
						margin-bottom: 15px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .draggable-pic  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .preview-body-holder  {
		
						max-width: 500px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .preview-item-links span:hover  ,  .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgb(255, 202, 0);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .preview-item-links span:before  ,  .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .effect-tester  { 
						background-color: rgb(255, 202, 0);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .draggable-pic-wrapper  {
			
		}
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .draggable-pic-wrapper  {
			
		}
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0em;
						
						max-width: 600px;
						
						line-height: 1.4em;
							
		}
	
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .middle_layout .helper-div  ,  .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .preview-subtitle  ,  .style-63da3865-qx4pebqj .style-63da3865-6r99zngi .preview-body h2  { 
						font-family: HelveNueThinNormal;
						font-size:calc( 10px + ( 64rem - 10rem ) );
						font-weight: bold;
						
						color: rgb(255, 202, 0);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 15px;
						
						line-height: 1.0em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-63da3865-6r99zngi #vbid-63da3865-i2dbzjpc .preview-content-holder{
				
							text-align : center;
					
				}

 .style-63da3865-6r99zngi #vbid-63da3865-b3ze8ro0.inner-pic{
				
							background-position : 52.5765% 16.3417%;
					
				} .style-63da3865-6r99zngi #vbid-63da3865-usm0ybpk.inner-pic{
				
							background-position : 52.5765% 16.3417%;
					
				} .style-63da3865-6r99zngi #vbid-63da3865-d6rlvsvh.inner-pic{
				
							background-position : 52.5765% 16.3417%;
					
				} .style-63da3865-6r99zngi #vbid-63da3865-lx4diz0g.inner-pic{
				
							background-position : 52.5765% 16.3417%;
					
				} .style-63da3865-6r99zngi #vbid-63da3865-a84fwywr.inner-pic{
				
							background-position : 52.5765% 16.3417%;
					
				}




.desktop-mode .style-63da3865-6r99zngi #vbid-63da3865-zygzlzq6-wrapper.draggable-pic-wrapper{
				
							top : -84px;
					
							left : 490px;
					
							height : 681px;
					
							width : 383px;
					
				}.desktop-mode .style-63da3865-6r99zngi #vbid-63da3865-k5pe1wkt-wrapper.draggable-pic-wrapper{
				
							top : 331px;
					
							left : 148px;
					
							height : 58px;
					
							width : 154px;
					
				}.desktop-mode .style-63da3865-6r99zngi #vbid-63da3865-94nzlyzk-wrapper.draggable-pic-wrapper{
				
							top : 311px;
					
							left : -6px;
					
							height : 73px;
					
							width : 194px;
					
				}.desktop-mode .style-63da3865-6r99zngi #vbid-63da3865-rncqsxlf-wrapper.draggable-pic-wrapper{
				
							top : 48px;
					
							left : 230px;
					
							height : 502px;
					
							width : 294px;
					
				}.desktop-mode .style-63da3865-6r99zngi #vbid-63da3865-qil7l1uk-wrapper.draggable-pic-wrapper{
				
							top : 337px;
					
							left : -2px;
					
							height : 47px;
					
							width : 143px;
					
				}.desktop-mode .style-63da3865-6r99zngi #vbid-63da3865-nc7t0fba-wrapper.draggable-pic-wrapper{
				
							top : -177px;
					
							left : 463px;
					
							height : 876px;
					
							width : 437px;
					
				}
 .style-63da3865-6r99zngi #vbid-63da3865-k5pe1wkt.draggable-pic{
				
							background-position : top left;
					
							background-size : contain;
					
				} .style-63da3865-6r99zngi #vbid-63da3865-rncqsxlf.draggable-pic{
				
							background-position : top left;
					
							background-size : contain;
					
				} .style-63da3865-6r99zngi #vbid-63da3865-nc7t0fba.draggable-pic{
				
							background-position : top left;
					
							background-size : contain;
					
				} .style-63da3865-6r99zngi #vbid-63da3865-zygzlzq6.draggable-pic{
				
							background-position : top left;
					
							background-size : contain;
					
				} .style-63da3865-6r99zngi #vbid-63da3865-qil7l1uk.draggable-pic{
				
							background-position : top left;
					
							background-size : contain;
					
				} .style-63da3865-6r99zngi #vbid-63da3865-94nzlyzk.draggable-pic{
				
							background-position : top left;
					
							background-size : contain;
					
				}






 .style-63da3865-6r99zngi #vbid-63da3865-i2dbzjpc .preview-content-wrapper{
				
							text-align : center;
					
				}



.desktop-mode.tablet-mode .style-63da3865-6r99zngi #vbid-63da3865-zygzlzq6-wrapper.draggable-pic-wrapper{
				
							top : -86px;
					
							left : 351px;
					
				}.desktop-mode.tablet-mode .style-63da3865-6r99zngi #vbid-63da3865-k5pe1wkt-wrapper.draggable-pic-wrapper{
				
							top : 389px;
					
							left : -1px;
					
				}.desktop-mode.tablet-mode .style-63da3865-6r99zngi #vbid-63da3865-nc7t0fba-wrapper.draggable-pic-wrapper{
				
							top : -173px;
					
							left : 319px;
					
				}.desktop-mode.tablet-mode .style-63da3865-6r99zngi #vbid-63da3865-qil7l1uk-wrapper.draggable-pic-wrapper{
				
							top : 334px;
					
							left : 3px;
					
				}
.desktop-mode.tablet-mode.phone-mode .style-63da3865-6r99zngi #vbid-63da3865-k5pe1wkt-wrapper.draggable-pic-wrapper{
				
							top : 388px;
					
							left : 57px;
					
				}.desktop-mode.tablet-mode.phone-mode .style-63da3865-6r99zngi #vbid-63da3865-qil7l1uk-wrapper.draggable-pic-wrapper{
				
							top : 334px;
					
							left : 62px;
					
				}







/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-63da3865-qx4pebqj version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-63da3865-qx4pebqj .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .master .style-63da3865-qx4pebqj .Subtitle  ,  .master .style-63da3865-qx4pebqj .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .master .style-63da3865-qx4pebqj .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .master .style-63da3865-qx4pebqj .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-63da3865-qx4pebqj .Title  ,  .master .style-63da3865-qx4pebqj .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .master .style-63da3865-qx4pebqj .link-wrapper  {
		
						max-width: 1238px;
							
		}
	 .master .style-63da3865-qx4pebqj .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .master .style-63da3865-qx4pebqj .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-63da3865-qx4pebqj .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-63da3865-qx4pebqj .item-links span  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						border-width: 1px;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	
	 .master .style-63da3865-qx4pebqj .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-63da3865-qx4pebqj.master.container > #children  {
		
						background-color: rgb(255, 255, 255);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: Montserrat;
				
						letter-spacing: 0.0em;
				
						line-height: 1.1em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						font-family: Arial;
				
						letter-spacing: 0.05em;
				
						border-width: 0px;
				
						border-radius: 25px;
				
						line-height: 1.7em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Montserrat;
				
						letter-spacing: -0.05em;
				
						line-height: 0.6em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						font-family: Arial;
				
						letter-spacing: 0.05em;
				
						line-height: 2.0em;
					
		}
	
	
	
			body    {
		
						background-color: rgb(255, 255, 255);
					
		}/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-63da3865-iqiivqbw version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw .preview-title  ,  .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw .preview-body h1  { font-size:calc( 10px + ( 30rem - 10rem ) );
						color: rgb(255, 202, 0);
						
						letter-spacing: -0.0em;
						
						font-weight: bold;
						
						margin-top: 10px;
						
						margin-bottom: 0px;
						
						font-family: 'Playfair Display';
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw .preview-item-links span:before  ,  .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw .effect-tester  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw .preview-link-img  {
		
						width: 35px;
						
						margin: 31px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 850px;
						
						padding-right: 0px;
						
						margin-top: 40px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 40px;
						
						background-color: rgba(255, 255, 255, 0);
						
						border-color: rgba(253, 253, 253, 0.53);
						
						padding-left: 0px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw .preview-item-links span  ,  .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw #sr-basket-widget *  { font-size:calc( 10px + ( 12rem - 10rem ) );
						margin-right: 5px;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 15px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.15em;
						
						padding-right: 25px;
						
						margin-top: 30px;
						
						padding-left: 25px;
						
						border-radius: 20px;
						
						padding-top: 15px;
						
						font-family: Arial;
						
						background-color: rgb(62, 181, 198);
						
						margin-left: 5px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw .item-content:not(.blocks_layout)  {
		
						background-color: rgb(236, 234, 230);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw .preview-divider  {
		
						width: 10%;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw .preview-element.icon-source  {
		
						width: 70px;
						
						margin-bottom: 15px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw .preview-item-links span:hover  ,  .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw .preview-element.Link.hover-tester  { 
						color: rgb(62, 181, 198);
						
						background-color: rgb(255, 255, 255);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.25em;
						
						max-width: 600px;
						
						margin-top: 10px;
						
						line-height: 1.4em;
							
		}
	
	 .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw .inner-pic  {
		
						color: rgb(255, 255, 255);
						
						opacity: 1;
						
		    			-webkit-filter: brightness(0.8);	
		}
	 .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw .middle_layout .helper-div  ,  .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw .preview-subtitle  ,  .style-63da3865-qx4pebqj .style-63da3865-iqiivqbw .preview-body h2  { 
						line-height: 1.0em;
						font-size:calc( 10px + ( 15rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.2em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
						
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




 .style-63da3865-iqiivqbw #vbid-63da3865-m8x9pbcm .preview-content-wrapper{
				
							text-align : center;
					
				}

 .style-63da3865-iqiivqbw #vbid-63da3865-m8x9pbcm .preview-content-holder{
				
							text-align : center;
					
				}










 .style-63da3865-iqiivqbw #vbid-63da3865-i315esxb.inner-pic{
				
							background-size : contain;
					
				}






/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-63da3865-hif6ucle version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 350px;
						
						padding-right: 0px;
						
						margin-top: 30px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 30px;
						
						background-color: rgba(0, 0, 0, 0);
						
						border-color: rgb(197, 197, 197);
						
						padding-left: 0px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .item-content:not(.blocks_layout)  {
		
						background-color: rgb(149, 183, 223);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .inner-pic  {
		
						color: rgb(255, 255, 255);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle.master.item-box   {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .preview-title  ,  .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .preview-body h1  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 40rem - 10rem ) );
						color: rgb(255, 202, 0);
						
						letter-spacing: 0.05em;
						
						font-weight: bold;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .draggable-pic-wrapper  {
			
		}
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .draggable-pic  {
			
		}
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .preview-item-links span  ,  .style-63da3865-qx4pebqj .style-63da3865-hif6ucle #sr-basket-widget *  { 
						border-style: dashed;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						font-weight: bold;
						
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgba(0, 0, 0, 0);
						
						letter-spacing: 0em;
						
						padding-right: 20px;
						
						margin-top: 15px;
						
						padding-left: 20px;
						
						border-radius: 20px;
						
						padding-top: 10px;
						
						font-family: 'Times New Roman';
						
						background-color: rgb(255, 255, 255);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .preview-element.icon-source  {
		
						margin-bottom: 15px;
						
						width: 690px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .draggable-pic  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .preview-body-holder  {
		
						max-width: 500px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .preview-item-links span:hover  ,  .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgb(255, 202, 0);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .preview-item-links span:before  ,  .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .effect-tester  { 
						background-color: rgb(255, 202, 0);
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .draggable-pic-wrapper  {
			
		}
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .draggable-pic-wrapper  {
			
		}
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0em;
						
						max-width: 600px;
						
						font-family: Arial;
							
		}
	
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .middle_layout .helper-div  ,  .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .preview-subtitle  ,  .style-63da3865-qx4pebqj .style-63da3865-hif6ucle .preview-body h2  { 
						line-height: 1.0em;
						font-size:calc( 10px + ( 40rem - 10rem ) );
						margin-right: 0px;
						
						color: rgb(255, 202, 0);
						
						letter-spacing: 0.05em;
						
						font-weight: bold;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 15px;
						
						font-family: HelveNueThinNormal;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-63da3865-hif6ucle #vbid-63da3865-bgah5zis .preview-content-holder{
				
							text-align : left;
					
				}

 .style-63da3865-hif6ucle #vbid-63da3865-uzexkxmx.inner-pic{
				
							background-position : 52.5765% 16.3417%;
					
				} .style-63da3865-hif6ucle #vbid-63da3865-avxrie6p.inner-pic{
				
							background-position : 52.5765% 16.3417%;
					
				} .style-63da3865-hif6ucle #vbid-63da3865-fh9fknuz.inner-pic{
				
							background-position : 52.5765% 16.3417%;
					
				} .style-63da3865-hif6ucle #vbid-63da3865-3pbmyiil.inner-pic{
				
							background-position : 52.5765% 16.3417%;
					
				} .style-63da3865-hif6ucle #vbid-63da3865-otybd0nl.inner-pic{
				
							background-position : 52.5765% 16.3417%;
					
				}




.desktop-mode .style-63da3865-hif6ucle #vbid-63da3865-ny84l2bg-wrapper.draggable-pic-wrapper{
				
							top : 337px;
					
							left : -2px;
					
							height : 47px;
					
							width : 143px;
					
				}.desktop-mode .style-63da3865-hif6ucle #vbid-63da3865-vhq9pgal-wrapper.draggable-pic-wrapper{
				
							top : 48px;
					
							left : 230px;
					
							height : 502px;
					
							width : 294px;
					
				}.desktop-mode .style-63da3865-hif6ucle #vbid-63da3865-7yprh3ja-wrapper.draggable-pic-wrapper{
				
							top : -177px;
					
							left : 463px;
					
							height : 876px;
					
							width : 437px;
					
				}.desktop-mode .style-63da3865-hif6ucle #vbid-63da3865-huecb6pr-wrapper.draggable-pic-wrapper{
				
							top : 311px;
					
							left : -6px;
					
							height : 73px;
					
							width : 194px;
					
				}.desktop-mode .style-63da3865-hif6ucle #vbid-63da3865-p9oeygyu-wrapper.draggable-pic-wrapper{
				
							top : 331px;
					
							left : 148px;
					
							height : 58px;
					
							width : 154px;
					
				}.desktop-mode .style-63da3865-hif6ucle #vbid-63da3865-9vvrbsmz-wrapper.draggable-pic-wrapper{
				
							top : -65px;
					
							left : 371px;
					
							height : 681px;
					
							width : 1210px;
					
				}
 .style-63da3865-hif6ucle #vbid-63da3865-huecb6pr.draggable-pic{
				
							background-position : top left;
					
							background-size : contain;
					
				} .style-63da3865-hif6ucle #vbid-63da3865-p9oeygyu.draggable-pic{
				
							background-position : top left;
					
							background-size : contain;
					
				} .style-63da3865-hif6ucle #vbid-63da3865-vhq9pgal.draggable-pic{
				
							background-position : top left;
					
							background-size : contain;
					
				} .style-63da3865-hif6ucle #vbid-63da3865-9vvrbsmz.draggable-pic{
				
							-webkit-filter: brightness(0.6);
						
					
							background-position : center center;
					
							background-size : cover;
					
				} .style-63da3865-hif6ucle #vbid-63da3865-7yprh3ja.draggable-pic{
				
							background-position : top left;
					
							background-size : contain;
					
				} .style-63da3865-hif6ucle #vbid-63da3865-ny84l2bg.draggable-pic{
				
							background-position : top left;
					
							background-size : contain;
					
				}






 .style-63da3865-hif6ucle #vbid-63da3865-bgah5zis .preview-content-wrapper{
				
							text-align : left;
					
				}



.desktop-mode.tablet-mode .style-63da3865-hif6ucle #vbid-63da3865-7yprh3ja-wrapper.draggable-pic-wrapper{
				
							top : -173px;
					
							left : 319px;
					
				}.desktop-mode.tablet-mode .style-63da3865-hif6ucle #vbid-63da3865-ny84l2bg-wrapper.draggable-pic-wrapper{
				
							top : 334px;
					
							left : 3px;
					
				}.desktop-mode.tablet-mode .style-63da3865-hif6ucle #vbid-63da3865-p9oeygyu-wrapper.draggable-pic-wrapper{
				
							top : 389px;
					
							left : -1px;
					
				}.desktop-mode.tablet-mode .style-63da3865-hif6ucle #vbid-63da3865-9vvrbsmz-wrapper.draggable-pic-wrapper{
				
							top : -86px;
					
							left : 351px;
					
				}
.desktop-mode.tablet-mode.phone-mode .style-63da3865-hif6ucle #vbid-63da3865-ny84l2bg-wrapper.draggable-pic-wrapper{
				
							top : 334px;
					
							left : 62px;
					
				}.desktop-mode.tablet-mode.phone-mode .style-63da3865-hif6ucle #vbid-63da3865-p9oeygyu-wrapper.draggable-pic-wrapper{
				
							top : 388px;
					
							left : 57px;
					
				}







/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
